@model MVCBasico.Models.TransferenciaRequest

@{
    ViewData["Title"] = "Transferencia | Banco PNT";
    Layout = "HomeLayout";
}

<link href="~/css/style.css" rel='stylesheet'>
<link href="~/css/styleTransferencia.css" rel='stylesheet'>

<main>
    <h4>Transferir</h4>


    <form asp-action="Transferir">
        <div class="input-contenedor">
            <input asp-for="Importe" placeholder="Importe">
            <span asp-validation-for="Importe" class="text-danger"></span>
        </div>
        <div class="input-contenedor">
            <input asp-for="Motivo" placeholder="Motivo">
            <span asp-validation-for="Motivo" class="text-danger"></span>
        </div>
        <div class="input-contenedor">
            <input asp-for="CBU" placeholder="CBU">
            <span asp-validation-for="CBU" class="text-danger"></span>
        </div>
        <div class="input-contenedor">
            <input asp-for="Alias" placeholder="Alias">
            <span asp-validation-for="Alias" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger input-contenedor"></div>
        <div class="botones">
            <button class="registrar" type="submit">Transferir</button>
        </div>
    </form>
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
