@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "HomeLayout";
    ViewData["Title"] = "Puntos | Banco PNT";
}

@model MVCBasico.Models.PuntosVista

<link href="~/css/stylePuntos.css" rel='stylesheet'>
<main>
    <div class="contenedor">
        <p>Tenes</p>
    </div>
    <div class="contenedor">
        <h1>@Model.Puntos puntos</h1>
    </div>
    <div class="contenedor">
        <a asp-action="Canjear">Canjear Puntos</a>
    </div>
</main>

