@model IEnumerable<MVCBasico.Models.Movimiento>

@{
    Layout = "HomeLayout";
    ViewData["Title"] = "Movimientos | Banco PNT";
}
<link href="~/css/styleMovimientos.css" rel='stylesheet'>
<main>
    <h1>Movimientos</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>$@Html.DisplayFor(modelItem => item.Importe)</td>
                </tr>
            }

        </tbody>
    </table>
</main>
<script src="~/js/Movimientos.js"></script>