@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!--Modal-->
<div aria-hidden="true" aria-labelledby="modal-create-edit-movimiento-label" role="dialog" tabindex="-1" id="modal-create-movimiento" class="modal fade">
    <div class="modal-dialog">
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>